<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="c:\\temp\\"/>
    <add key="LogFileName" value="TurtleBugNET.log"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BugNetServicesSoap" allowCookies="true">
                <security mode="Transport">
                  <transport clientCredentialType="Windows"/>
                </security>
              </binding>
              
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.ledsys.co.uk/BugNet/WebServices/BugNetServices.asmx" binding="basicHttpBinding" bindingConfiguration="BugNetServicesSoap" contract="BugNET.BugNetServicesSoap" name="BugNetServicesSoap"/>
        </client>
    </system.serviceModel>
  <system.web>
    <authentication mode="Forms">
      <forms name="BugNET" />
    </authentication>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
