<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BugNetServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.wlblearning.co.uk/BugNet/WebServices/BugNetServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="BugNetServicesSoap"
                contract="BugNET.BugNetServicesSoap" name="BugNetServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>